body {
    background-color: #f2f0f0;
}

a{
    text-decoration: none;
    color: black;
}

label{
    position: absolute;
}

.leSelect{
    margin-bottom: 50px;
}

.labelCategorie{
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    border-bottom: 1px solid #E4E4E4;
    -webkit-box-shadow: 0px 5px 3px 1px #E4E4E4;
    box-shadow: 0px 5px 3px 1px #E4E4E4;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    padding: 60px;
    opacity: 0;
    animation: fadin 2s ease-in forwards;
}

@keyframes fadin {
    to{
        opacity: 1;
    }
}

/*Home*/
#filtres {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

#filtres > button {
    height: 75px;
    width: 100px;
    position: relative;
    bottom: 0;
    align-self: end;
}

#filtres_inputs {
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

#filtres__categories {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#filtres__categories > select {
    width: 60%;
}

#filtres > input {
    width: 100%;
}

#home__title {
    width: 100%;
    text-align: center;
}

/*Gestion des cards*/
#resultats {
    margin-top: 2vw;
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    width: 100%;
}
.resultats__card {
    display: flex;
    width: 30%;
    gap: 1vw;
}
.resultats__card > img {
    width: 30%;
}

.gauche{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.droite{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
}

.formInscription{

    display: flex;
    margin-left: 25%;
    margin-top: 110px;
    font-size: 25px;
}

.footerInscription{
    position: absolute;
    margin-top: 33%;
    margin-left: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-validate{
    border-radius: 5px;
    position: absolute;
    margin-top: -40px;
    margin-left: 15vh;
}

#btn-annuler{
    border-radius: 5px;
    position: absolute;
    margin-top: -40px;
    margin-left: 75vh;

}

.btn-addArticle{
    border: solid black 2px;
    width: 130px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.3);

}
.btn-acceuil{
    border: solid black 2px;
    width: 130px;
    border-radius: 5px;
}

.btn-search{
    background-color: antiquewhite;
    box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.btn-pageAddArticle{
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

.btn-enregistre{
    border-radius: 10px;
    background-color: antiquewhite;
    box-shadow: 0px 2px 0px 1px rgba(0, 0, 0, 0.3);
}

input{
    margin-bottom: 10px;
    position: relative;
    opacity: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    animation: fadin2 2s ease-in forwards;
}

@keyframes fadin2 {
    from{

        margin-left: -50%;
    }
    to{
       opacity: 1;
        margin-left: 50%;
    }
}

#categorie{
    margin-bottom: 50px;
}