body {
    background-color: #f2f0f0;
}
a{
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    border-bottom: 1px solid #E4E4E4;
    -webkit-box-shadow: 0px 5px 3px 1px #E4E4E4;
    box-shadow: 0px 5px 3px 1px #E4E4E4;
}

main {
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

/*Home*/
#filtres {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

#filtres > button {
    height: 75px;
    width: 100px;
    position: relative;
    bottom: 0;
    align-self: end;
}

#filtres_inputs {
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

#filtres__categories {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#filtres__categories > select {
    width: 60%;
}

#filtres > input {
    width: 100%;
}

#home__title {
    width: 100%;
    text-align: center;
}

/*Gestion des cards*/
#resultats {
    margin-top: 2vw;
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    width: 100%;
}
.resultats__card {
    display: flex;
    width: 30%;
    gap: 1vw;
}
.resultats__card > a > img {
    width: 30%;
}
.resultats__card > a  {
    display: flex;
}

#filtres__checkboxes {
    display: flex;
    width: 40%;
    margin-top: 1vw;
    justify-content: space-between;
}

.filtres__sous-options {
    margin-left: 2vw;
}

.middlePage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.descriptionDetailArticle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.titreDetailArticle{
    margin-top: 10vh;
    margin-left: 10vh;
}

.mailYPass{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.rememberMe{
    display: flex;
    flex-direction: column;
    width: 359px;
    position: absolute;
    margin-left: -167px;
    gap: 30px;
    margin-top: 75px;
    align-items: baseline;
}

.divLogin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divAjout{
    display: flex;
    justify-content: center;
}

.formAjout{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.divRetrait{
    display: flex;
    flex-direction: column;
    gap: 15px
}

.formInscription{
    width: 10%;
}

.divInscription{
    display: flex;
    justify-content: center;
}

.footerInscription{
    margin-top: 10px;
    display: flex;
    gap: 58px;
}

.divDetails{
    margin-bottom: 105px;
}