
.login {
    width: 80%;
    justify-content: space-between;
}

.rememberMe{
    display: flex;
    flex-direction: column;
    width: 359px;
    position: absolute;
    margin-left: -147px;
    gap: 30px;
    margin-top: 75px;
}

input#remember{
    transition: none !important;
}

.mailYPass{
    margin-left: -145px;
}

.username {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin: 20px;
}

.password {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin: 20px;
}

.btn {

    margin-left: 175px;
}
@media (max-width: 480px) {

    .btn{
        margin-left: 100px;
        width: 20vh;
    }
}


form.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

form.container > div.gauche,
form.container > div.droite {
    flex: 1 1 45%;
}

form.container > div.pied {
    flex: 1 1 100%;
}