<!DOCTYPE html>
<!-- Mise en place du layout -->
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout(
									contenuPage=~{:: .main})}">
<main class="main">


    <h1>Nouvelle vente</h1>



<form data-th-action="@{/addArticle}"
      method="post"
      data-th-object="${articleVendu}">
<div class="leSelect">

    <label  for="categorie">

        <select id="categorie" name="categorie" data-th-field="*{categorie}">
            <option  data-th-each="item: ${categorieLst}" data-th-value="${item.noCategorie}" data-th-text="${item.libelle}"></option>
        </select>

    </label>
</div>


    <div>
        <label for="nom">Article</label>
        <input id="nom" name="nom" type="text" placeholder="Nom de l'article" data-th-field="*{nomArticle}">
    </div>
    <div>
        <label for="description">Description</label>
        <input id="description" name="description" type="text" placeholder="Description de l'article" data-th-field="*{description}">
    </div>
    <div>




    </div>
    <div>
        <label for="mise_a_prix">Mise à prix</label>
        <input id="mise_a_prix" name="mise_a_prix" type="number" data-th-field="*{prixVente}">
    </div>
    <div>
        <label for="date_debut_enchere">Début de l'enchère</label>
        <input id="date_debut_enchere" name="dateDebutEnchere" type="date" data-th-field="*{dateDebutEnchere}">
    </div>
    <div>
        <label for="date_fin_enchere">Fin de l'enchère</label>
        <input id="date_fin_enchere" name="dateFinEnchere" type="date" data-th-field="*{dateFinEnchere}">
    </div>


    <div>

        <h2>Retrait</h2>

            <div>
                <label for="retrait_rue">Rue</label>
                <input id="retrait_rue" name="utilisateur" type="text" data-th-field="*{utilisateur.rue}" >
            </div>
            <div>
                <label for="retrait_code_postal">Code Postal</label>
                <input id="retrait_code_postal" name="categorie" type="text" data-th-field="*{utilisateur.codePostal}" >
            </div>
            <div>
                <label for="retrait_ville">Ville</label>
                <input id="retrait_ville" name="retrait" type="text" data-th-field="*{utilisateur.ville}">
            </div>
    </div>


    <div class="btn-pageAddArticle">
        <button type="submit" class="btn-enregistre">Enregistrer</button>
        <a href="/" class="btn-addArticle">Retour</a>

    </div>

</form>
</main>

