<!DOCTYPE html>
<!-- Mise en place du layout -->
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout(
									contenuPage=~{:: .main})}">
<main class="main">
    <h1 id="home__title">Listes des enchères</h1>
    <form id="filtres" method="get">
        <div id="filtres_inputs">
            <h2>Filtres</h2>
            <input name="recherche" id="filtre" placeholder="Le nom de l'article contient">
            <div id="filtres__categories">
                <label for="categorie">Catégorie :</label>
                <select id="categorie" name="categorie">
                    <option value="0">Toutes</option>
                    <option value="1">Informatique</option>
                    <option value="2">Ameublement</option>
                    <option value="3">Vêtements</option>
                    <option value="4">Sports & Loisirs</option>
                </select>
            </div>
        </div>
        <button type="submit">Rechercher</button>
    </form>
    <div id="resultats" name="IdArticle">
        <article data-th-each="item : ${articleVenduLst}" class="resultats__card" >
            <img src="https://placehold.co/400x400">
            <div>
                <h1 data-th-text="${item.nomArticle}"></h1>
                <p>Prix: <span data-th-text="${item.miseAPrix}"></span> points</p>
                <p>Fin de l'enchère: <span data-th-text="${item.dateFinEnchere}"></span></p>
                <p>Vendeur: <span data-th-text="${item.utilisateur.pseudo}"></span></p>
            </div>
        </article>

    </div>

    <data-th-block
            data-sec-authorize="isAuthenticated()">

        <a href="/addArticle">Ajouter un articles</a>
    </data-th-block>
</main>

