<!DOCTYPE html>
<!-- Mise en place du layout -->
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout(
									contenuPage=~{:: .main})}">
<main class="main">
    <h1 id="home__title">Listes des enchères</h1>
    <form id="filtres">
        <div id="filtres_inputs">
            <h2>Filtres</h2>
            <input name="filtre" id="filtre" placeholder="Le nom de l'article contient">
            <div id="filtres__categories">
                <label for="categorie">Catégorie :</label>
                <select id="categorie">
                    <option value="toutes">Toutes</option>
                    <option value="informatique">Informatique</option>
                    <option value="ameublement">Ameublement</option>
                    <option value="vetements">Vêtements</option>
                    <option value="sportLoisir">Sports & Loisirs</option>
                </select>
            </div>
        </div>
        <button type="submit">Rechercher</button>
    </form>
    <div id="resultats" name="IdArticle">
        <article data-th-each="i : ${#numbers.sequence(1, 8)}" class="resultats__card" >
            <img src="https://placehold.co/400x400">
            <tr data-th-each="item : ${articleVenduLst}">
                <td data-th-text="${item.nomArticle}"></td>
                <td data-th-text="${item.dateDebutEnchere}"></td>
                <td data-th-text="${item.dateFinEnchere}"></td>
                <td data-th-text="${item.miseAPrix}"></td>
                <td data-th-text="${item.prixVente}"></td>
                <td data-th-text="${item.etatVente}"></td>
                <td data-th-text="${item.categorie}"></td>
                <td data-th-text="${item.utilisateur}"></td>
            </tr>

            <div>
                <h1>PC Gamer pour travailler</h1>
                <p>Prix: <span>210</span> points</p>
                <p>Fin de l'enchère: <span>10/08/2018</span></p>
                <p>Vendeur: <span>jojo44</span></p>
            </div>
        </article>
        <!--            Prévoir du grid: 3 cartes / row -->
    </div>
</main>

