<!DOCTYPE html>
<!-- Mise en place du layout -->
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout(
									contenuPage=~{:: .main})}">
<head>
    <link rel="stylesheet" href="userStyle.css">
</head>
<main class="main">
    <form data-th-action="@{/login}" method="post" class="form">
        <h1>Login</h1>
        <div class="error" data-th-if="${param.error}" >Login/Password Error</div>
        <div data-th-if="${param.logout}"> Error Logout</div>

        <ul class="login">
            <div class="mailYPass">
                <li>
                    <label for="username" >Email</label>
                    <input id="username" name="username">
                </li>
                <li>
                    <label for="password" >Mot de passe</label>
                    <input id="password" name="password" type="password">
                </li>
                <div class="checkBoxalakon">
                    <label class="labelRemember">
                        <input type="checkbox" checked="checked" name="remember" id="remember"><p>Se souvenir de moi</p>
                    </label>
                </div>




            </div>

            <div class="rememberMe">

                <button type="submit" class="btn">Connexion</button>

                <span class="forgotPassword"><a href="/resetPassword">Mot de passe oublié</a></span>

                <a href="/inscription" class="faussebutton">Créer un compte</a>
            </div>

        </ul>
    </form>
</main>
</html>