<!DOCTYPE html>
<!-- Mise en place du layout -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:data-th="http://www.w3.org/1999/xhtml"
      data-th-replace="~{layouts/layout :: layout(
									contenuPage=~{:: .main})}">
<body>
    <main class="main">
        <form data-th-action="@{/modifierProfile} " method="post" class="container"
              data-th-object="${utilisateur}">
            <ul>
                <li>
                    <label>Mot de passe actuel</label>
                    <input name="motDePasseActuel" type="password" required>
                </li>
                <li>
                    <label>Nouveau mot de passe</label>
                    <input name="nouveauMotDePasse" type="password" required data-th-field="*{motDePasse}">
                </li>
                <li>
                    <label>Confirmation</label>
                    <input name="confirmation" type="password" required>
                </li>
                <button type="submit" class="btn">Enregister</button>
            </ul>
        </form>
    </main>
</body>
</html>