<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout(
      contenuPage=~{:: .main})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body class="main">

<form th:action="@{/inscription}" method="post" data-th-object="${inscriptionForm}" class="formInscription">
  <div class="gauche">
      <label>Pseudo</label>
    <input type="text"  data-th-field="*{pseudo}"  required>
      <label class="labelInscription">Nom</label>
    <input type="text" placeholder="Votre nom" data-th-field="*{nom}" required>
      <label class="labelInscription">prenom</label>
    <input type="text" placeholder="Votre prenom" data-th-field="*{prenom}" required>
      <label class="labelInscription">mail</label>
    <input type="email" placeholder="votre email" data-th-field="*{email}" required>
      <label class="labelInscription">Phone</label>
    <input type="text" placeholder="votre numero de telephone" data-th-field="*{telephone}" required>
  </div>
  <div class="droite">
      <label class="labelInscription">Rue</label>
    <input type="text" data-th-field="*{rue}" required>
      <label class="labelInscription">Code Postal</label>
    <input type="text" data-th-field="*{codePostal}"required>
      <label  class="labelInscription">Ville</label>
    <input type="text" data-th-field="*{ville}"required>
      <label class="labelInscription">Mot de passe</label>
    <input type="password" data-th-field="*{motDePasse}" required>
      <label class="labelInscription">Confirmation</label>
      <input name="confirmation" type="password"  required>
 </div>
  <div class="footerInscription">
    <p data-th-text="${message}" data-th-if="${message}"  class="msgError"></p>
    <button type="submit" name="validate" value="valider" id="btn-validate">S'inscrire</button>
      <button type="submit" name="validate" value="valider" id="btn-annuler"><a href="/">Annuler</a></button>
  </div>
</form>

</body>
</html>