<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout(
									contenuPage=~{:: .main})}">
<head>
    <meta charset="UTF-8">
    <title>view_detail</title>
</head>
<body>



<div class="main">

    <div class="divDetails">
        <h1><h1 class="titreDetailArticle" data-th-text="${articleVenduDetail.nomArticle}"></h1></h1>
        <!--eventuellement articleVenduDetail-->
        <div class="detailArticle">

            <p class="descriptionDetailArticle" data-th-text="${articleVenduDetail.description}"></p>

            <div class="middlePage">
                <img src="https://placehold.co/400x400">
                <div class="dateEnchere">
                    <p>Début de l'enchère le : <span data-th-text="${articleVenduDetail.dateDebutEnchere}"></span></p>
                    <p>Fin de l'enchère le : <span data-th-text="${articleVenduDetail.dateFinEnchere}"></span></p>
                    <br>
                    <p>Mis à prix pour  <span data-th-text="${articleVenduDetail.miseAPrix}"></span> points</p>
                    <br>
                    <p>Derniere enchère à  <span data-th-text="${articleVenduDetail.prixVente}"></span> points</p>
                </div>

            </div>

        </div>
    </div>

    </div>







</body>
</html>