<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/inscription} " method="post" >
  <input name="pseudo" type="text">
  <input name="nom" type="text">
  <input name="prenom" type="text">
    <input name="email" type="text">
    <input name="telephone" type="text">
    <input name="rue" type="text">
    <input name="codePostal" type="text">
    <input name="ville" type="text">
    <input name="motDePasse" type="password">
  <p th:text="${message}"></p>
  <button type="submit" name="validate" value="valider">inskri twa lolilol</button>


</form>

</body>
</html>